{% extends 'base.html.twig' %}

{% block title %}Liste des services{% endblock %}

{% block body %}
    <h1>Liste des services</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.name }}</td>
                <td>
                    <a href="{{ path('service_edit', {'id': service.id}) }}">Editer</a>
                    <a href="{{ path('service_delete', {'id': service.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('service_new') }}">Nouveau service</a>
{% endblock %}
