

<div class="card mr-auto ml-auto col-8 m-2">
    <div class="card-body d-flex align-items-start">

        <div class="card-header col-3 m-1 border bg-light overflow-hidden" >
            <div class="text-center d-flex flex-column align-items-center">

                <div class="avatar" style="background-image:url('{{ asset('avatar/' ~ presentation.user.avatar) }}');"></div>

                <h5 class="d-block card-title  m-2">{{ presentation.user.firstname}} {{ presentation.user.lastname}}</h5>
                {% set note = notes[presentation.user.id]%}

                <div class="stars">
                {% if note != 'NC' %}
                    {% for i in 1..note|round %}
                    <i class=" fas fa-star"></i>                
                    {% endfor %}

                    {% if 5-note|round != 0 %}
                        {% for i in 0..5-note|round-1 %}
                        <i class=" far fa-star"></i>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                </div>
            
            </div>
        </div>
        
        <div class="col-8 m-auto">
            {% if presentation.user.type == 'petsitter' %}
            <div class="m-2 d-flex justify-content-end">
            <span class="p-2 badge badge-pill badge-info">Je garde vos animaux de compagnie</span>
            </div>
            {% elseif presentation.user.type == 'owner'%}
            <div class="m-2 d-flex justify-content-end">
            <span class="p-2 badge badge-pill badge-success">J'ai un animal à faire garder</span>
                </div>
            {% else %}
            <div class="m-2 d-flex justify-content-end">
                <span class="p-2 badge badge-pill badge-danger">Admin</span>
                </div>
            {% endif %}
            <h6 class="card-subtitle mb-2 h4"><a href="{{path('presentation_show', {'id': presentation.id, 'slug': presentation.slug})}}" class="text-muted">{{presentation.title|length > 35 ? presentation.title|slice(0,35) ~ '...' : presentation.title|slice(0,35)}}</a></h6>

            <p>Utilisateur : {{ presentation.user.username }}</p>

            {# pour consulter un tableau indéxé numériquement, on passe la variable entre crochet, car si on la communique par un point, il le traite comme une chaine de caractère. #}
            
         

            <p class="card-text text-dark mt-4 mb-4">
            {{presentation.body|length > 200 ? presentation.body|slice(0,200) ~ '...' : presentation.body|slice(0,200)}}
            </p>

            <p class="font-weight-bold">Lieu : {{ presentation.user.city }} ({{ presentation.user.zipCode }})</p>

            <a class="btn btn-secondary" href="{{path('presentation_show', {'id': presentation.id, 'slug': presentation.slug})}}" class="text-white card-link" role="button">Afficher</a>            
           

            {% if is_granted(['ROLE_ADMIN','ROLE_MODO']) %}
            <a class="btn btn-danger" href="{{ path('presentation_disable', {'id': presentation.id }) }}" class="text-white" role="button"><i class="mr-1 fas fa-ban"></i>Dé/Bloquer</a>
            {% endif %}

        </div>
    </div>
</div>

