{% extends 'base.html.twig' %}

{% block title %}Présentations bloquées{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center">Liste des présentations bloquées</h2>

    <a class="btn btn-dark" href="{{ path('dashboard') }}" class="text-white" role="button">Retour tableau de bord</a>
    <ul class="list-group mt-3 mb-5">
    {% for presentation in presentations %}

        <li class="d-flex justify-content-between list-group-item list-group-item-{{ cycle(['secondary', 'light'], loop.index0) }}">
          <a href="{{ path('presentation_show', {'slug': presentation.slug, 'id': presentation.id}) }}">Présentation de {{ presentation.user.username }} ({{ presentation.user.firstname }} {{ presentation.user.lastname }}) créé le {{ presentation.createdAt|date("d/m/Y \\à H:i:s") }}</a> <a href="{{ path('presentation_disable', {'id': presentation.id}) }}"><i class="fas fa-lock-open"></i></a>
        </li>

        {% else %}

        <li class="list-group-item list-group-item-secondary">Aucune présentation bloquée.</li>

    {% endfor %}
    </ul>
</div>

{% endblock %}