{% extends 'base.html.twig' %}

{% block title %}Hello PresentationController!{% endblock %}

{% block body %}

    <h2>{{ presentation.title }}</h2>
    {% if not presentation.isActive %}
        <p style="color: red;">Présentation actuellement bloquée</p>
    {% endif %}
    {% if is_granted('ROLE_MODO') %}
    <a href="{{ path('presentation_disable', {'id': presentation.id}) }}"><i class="fas fa-times" style="color: red;"></i> Bloquer/Débloquer cette présentation</a>
    {% endif %}
    
    <h3>Présentation de {{ presentation.user.firstname }} {{ presentation.user.lastname }} 
        {% if presentation.user.type == 'petsitter' %}
        - <i class="fas fa-star"></i> Note : {{ note }}/5 - Prix/heure : {{ presentation.price }}
        {% endif %}
    </h3>

    {# Affichage des espèces et services proposés
     uniquement si le user de la présentation est un petsitter #}
    {% if presentation.user.type == 'petsitter' %}
        <p>Animaux pouvant être gardés : 
        {% for species in presentation.species %}
            {{ species.name }}
        {% else %}
        NC
        {% endfor %}
        </p>
        <p>Prestations proposées : 
        {% for service in presentation.services %}
            {{ service.name }}
        {% else %}
        NC
        {% endfor %}
        </p>
    {% endif %}

    <p>{{ presentation.body }}</p>

    {# Affichage des commentaires uniquement si le user est un petsitter #}
    {% if presentation.user.type == 'petsitter' %}
    <div class="card">
            <h5 class="card-header">Commentaires</h5>
            {% for comment in comments %}
            <div class="card-body">
                {% if not comment.isActive %}
                    <p style="color: red;">Commentaire actuellement bloqué</p>
                {% endif %}
              <h5 class="card-title">Commentaire écrit le {{ comment.createdAt|date("d/m/Y") }}</h5>
              <p class="card-text">{{ comment.body }}</p>
              <p class="blockquote-footer">Auteur: {{ comment.owner.username }}</p>
              {% if is_granted('ROLE_MODO') %}
              <a href="{{ path('comment_disable', {'id': comment.id}) }}"><i class="fas fa-times" style="color: red;"></i> Bloquer/Débloquer ce commentaire</a>
              {% endif %}
            </div>
            {% else %}
            <div class="card-body">
                <p>Aucun commentaire pour le moment</p>
            </div>
            {% endfor %}
    </div>
    {% endif %}
   
{% endblock %}
