{% extends 'base.html.twig' %}

{% block title %} Presentation {% endblock %}

{% block body %}





<div class="container border-left  border-dark">
    {% if is_granted('ROLE_MODO') %}
    <div class=" d-flex justify-content-end">
        <a class="m-3 btn btn-danger text-white" href="{{ path('presentation_disable', {'id': presentation.id}) }}"
            role="button"><i class="text-white fas fa-times" style="color: red;"></i> Bloquer/Débloquer cette
            présentation</a>
    </div>
    {% endif %}

    {% if presentation.user.type == 'petsitter' %}
    <div class="m-5 d-flex justify-content-end">
        <span class="p-2 badge badge-pill badge-info">Je garde vos animaux de compagnie</span>
    </div>
    {% elseif presentation.user.type == 'owner'%}
    <div class="m-5 d-flex justify-content-end">
        <span class="p-2 badge badge-pill badge-success">J'ai un animal à faire garder</span>
    </div>
    {% else %}
    <div class="m-5 d-flex justify-content-end">
        <button class="btn btn-danger btn-sm">ADMIN</button>
    </div>
    {% endif %}

    {% if not presentation.isActive %}
    <p style="color: red;">Présentation actuellement bloquée</p>
    {% endif %}


    <div class="row">
        <div class="m-2 col-lg-7">
            <h2 class="mb-3"><img src="{{ asset(avatar_upload_path ~ (presentation.user.avatar ?: 'default-avatar.png')) }}"
                    alt="" class="mr-3  img-thumbnail float-left" style="width:15%;border-radius:40%;">
                {{ presentation.title }}</h2>

            <p class="mb-1">{% if presentation.user.type == 'petsitter' %}
                {{ presentation.user.firstname}}
                {% if note != 'NC' %}
                {% for i in 1..note|round %}
                <i class="fas fa-star"></i>
                {% endfor %}

                {% if 5-note|round != 0 %}
                {% for i in 0..5-note|round-1 %}
                <i class="far fa-star"></i>
                {% endfor %}
                {% endif %}
                {% endif %}

                <p>{{ nbComments }} Commentaire(s)</p>
                {% endif %}
            </p>
            <p class="mb-1">{{presentation.user.city }}
                ({{presentation.user.zipCode }}) / Utilisateur : {{ presentation.user.username }} {% if presentation.user.isValidated %}<span style="font-weight: bold; color: rgb(170, 170, 35);"><i class="fas fa-medal"></i></span>{% endif %}</p>

            {# Affichage des espèces et services proposés
            uniquement si le user de la présentation est un petsitter #}
            {% if presentation.user.type == 'petsitter' %}
            {% if not (presentation.price) %}
            {% else %}
            <p> Prix /h : {{ presentation.price }} €</p>
            {% endif %}
            <p>
                {% for species in presentation.species %}

                <span class="badge badge-dark">{{ species.name }}</span>
                {% else %}
                NC
                {% endfor %}
            </p>
            {# <p>Prestations proposées :
                {% for service in presentation.services %}
                {{ service.name }}
                {% else %}
                NC
                {% endfor %}
            </p> #}
            {% endif %}

        </div>

        <div class="m-2 row justify-content-around col-lg-4 col-sm-12  ">
            {% for service in presentation.services %}
            {% if service.name == "Gardiennage à domicile" %}
            <div class="m-2 text-center">
                <i class="h2 fas fa-home"></i><i class="fas fa-sun"></i>
                <p class="mb-1">Gardiennage jour</p>

            </div>
            <div class="m-2 text-center">
                <i class="h2 fas fa-home"></i>
                <i class="fas fa-moon"></i>
                <p class="mb-1">Gardiennage nuit</p>

            </div>
            {% else %}
            {% endif %}
            {% if service.name == "Promenade" %}
            <div class="m-2 text-center">
                <i class="h2 fas fa-walking"></i>
                <p class="mb-1">Promenade</p>

            </div>
            {% else %}
            {% endif %}
            {% if service.name == "Visite" %}
            <div class="m-2 text-center">
                <i class="h2 fas fa-walking"></i>
                <p class="mb-1">Visite</p>

            </div>
            {% else %}
            {% endif %}
            {% if service.name == "Transport" %}
            <div class="m-2 text-center">
                <i class="h2 fas fa-car"></i>
                <p class="mb-1">Transport</p>

            </div>
            {% else %}
            {% endif %}
            {% endfor %}
        </div>
    </div>


</div>
{# Communication des coordonnées uniquement si connecté #}

<div class="container border-left border-dark">
    <h4>A propos de {{ presentation.user.firstname}}</h4>
    <p id="presentationBody">{{ presentation.body|nl2br }}</p>
    {% if animals %}
    <h4>Ses animaux :</h4>
    <div class="m-4 d-flex justify-content-between">
    {% for animal in presentation.user.animals %}
    <div>
    <p class="text-center">{{ animal.name }}</p>
    <a href="{{ path('animal_show', {'slug': animal.slug, 'id': animal.id}) }}"><img class="modal-image img-thumbnail" data-toggle="modal" data-target=".modal1" style="border-radius:50%; width:200px; height:200px;;" src="{{ asset(picture_upload_path ~ (animal.picture1 ?: 'default-picture.png')) }}"></a>
</div>
    {% endfor %}
</div>
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <p>Coordonnées :</p>
    <ul>

        <li>Téléphone portable : {% if presentation.user.cellNumber %} {{ presentation.user.cellNumber }} {% else %} NC
            {% endif %} </li>
    </ul>
    {# Bouton de messagerie interne #}

    <a class="m-2 btn btn-info text-decoration-none text-white" href="{{ path('message_new', {'userFrom': app.user.id, 'userTo': presentation.user.id}) }}"
        role="button">Envoyer un message</a>
    {% else %}
    <p style="color: red;"><a class="text-danger" href="{{ path('login') }}"> Connectez-vous pour accéder aux coordonnés de cette
        présentation. </a> 
    </p>
    {% endif %}



    {# Affichage des commentaires uniquement si le user est un petsitter #}
    {% if presentation.user.type == 'petsitter' %}
    <div class="card m-4">
        <h5 class="card-header">Commentaires</h5>
        {% for comment in comments %}
        <div class="card-body">
            {% if not comment.isActive %}
            <p style="color: red;">Commentaire actuellement bloqué</p>
            {% endif %}
            <h5 class="card-title">Commentaire écrit le {{ comment.createdAt|date("d/m/Y") }}</h5>
            <p> {% if comment.note != 'NC' %}
                {% for i in 1..note|round %}
                <i class="fas fa-star"></i>
                {% endfor %}
                {% endif %}
            </p>
            <p class="card-text">{{ comment.body|nl2br }}</p>
            <p class="blockquote-footer">Auteur: {{ comment.owner.username }}</p>
            {% if is_granted('ROLE_MODO') %}
            <a href="{{ path('comment_disable', {'id': comment.id}) }}"><i class="fas fa-times" style="color: red;"></i>
                Bloquer/Débloquer ce commentaire</a>
            {% endif %}
        </div>
        {% else %}
        <div class="card-body">
            <p>Aucun commentaire pour le moment</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}



    {# Si utilisateur connecté
    et présentation petsitter et utilisateur connecté est un owner #}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if presentation.user.type == 'petsitter' and app.user.type == 'owner' %}

    <div class="card mt-4 mb-4">
        <div class="card-body">
            {{ include('comment/_form.html.twig') }}
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>
{% endblock %}