{% extends 'base.html.twig' %}

{% block title %}Hello PresentationController!{% endblock %}

{% block body %}

    <h2>{{ presentation.title }}</h2>
    <h3>Présentation de {{ presentation.user.firstname }} {{ presentation.user.lastname }} 
        {% if app.user.type == 'petsitter' %}
        - <i class="fas fa-star"></i> Note : {{ note }}/5 - Prix/heure : {{ presentation.price }}
        {% endif %}
    </h3>
    <p>{{ presentation.body }}</p>

    {# Affichage des commentaires uniquement si le user est un petsitter #}
    {% if app.user.type == 'petsitter' %}
    <div class="card">
            <h5 class="card-header">Commentaires</h5>
            {% for comment in comments %}
            <div class="card-body">
              <h5 class="card-title">Commentaire écrit le {{ comment.createdAt|date("d/m/Y") }}</h5>
              <p class="card-text">{{ comment.body }}</p>
              <p class="blockquote-footer">Auteur: {{ comment.owner.username }}</p>
            </div>
            {% else %}
            <div class="card-body">
                <p>Aucun commentaire pour le moment</p>
            </div>
            {% endfor %}
    </div>
    {% endif %}
   
{% endblock %}
