{% extends 'base.html.twig' %}

{% block title %}Animal index{% endblock %}

{% block body %}
    <h1>Animal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Detail</th>
                <th>Sex</th>
                <th>Age</th>
                <th>Body</th>
                <th>Picture1</th>
                <th>Picture2</th>
                <th>Picture3</th>
                <th>IsActive</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.id }}</td>
                <td>{{ animal.title }}</td>
                <td>{{ animal.slug }}</td>
                <td>{{ animal.detail }}</td>
                <td>{{ animal.sex }}</td>
                <td>{{ animal.age }}</td>
                <td>{{ animal.body }}</td>
                <td>{{ animal.picture1 }}</td>
                <td>{{ animal.picture2 }}</td>
                <td>{{ animal.picture3 }}</td>
                <td>{{ animal.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('animal_show', {'slug': animal.slug, 'id': animal.id}) }}">Voir</a>
                    <a href="{{ path('animal_edit', {'id': animal.id}) }}">Editer</a>
                    <a href="{{ path('animal_delete', {'id': animal.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('animal_new') }}" class="btn btn-success">Créer une fiche de présentation de mon animal de compagnie</a>
{% endblock %}
