{% extends 'base.html.twig' %}

{% block title %}{{ animal.title }}{% endblock %}

{% block body %}
<div class="container">

  {% if is_granted('ROLE_MODO') %}
  <div class=" d-flex justify-content-end">
    <a class="m-3 btn btn-danger text-white" href="{{ path('animal_disable', {'id': animal.id}) }}" role="button"><i
        class="text-white fas fa-times" style="color: red;"></i> Bloquer/Débloquer cette
      fiche animal</a>
  </div>
  {% endif %}

  {% if not animal.isActive %}
  <p style="color: red;">Fiche animal actuellement bloquée</p>
  {% endif %}


  <!-- Large modal Mohamed -->


  <h2 class="text-center font-weight-bold">{{ animal.name }}</h2>
  <div class="d-flex justify-content-around text-center">
    <img class="modal-image img-thumbnail" data-toggle="modal" data-target=".modal1" style="border-radius:50%; width:200px; height:200px;;"
      src="{{ asset(picture_upload_path ~ (animal.picture1 ?: 'default-picture.png')) }}">

    <div class="modal fade modal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <img style="max-width:100%" src="{{ asset(picture_upload_path ~ (animal.picture1 ?: 'default-picture.png')) }}">
          <button type="button" class="closeModal btn btn-link" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    {% if animal.picture2 %}
    <img class="modal-image img-thumbnail d-lg-block d-md-block d-none" data-toggle="modal" data-target=".modal-2"
      style="border-radius:50%; width:200px; height:200px;;" src="{{ asset(picture_upload_path ~ (animal.picture2 ?: 'default-picture.png')) }}">
    <div class="modal fade modal-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <img style="max-width:100%" src="{{ asset(picture_upload_path ~ (animal.picture2 ?: 'default-picture.png')) }}">
          <button type="button" class="closeModal btn btn-link" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    {% endif %}
    {% if animal.picture3 %}
    <img class="modal-image img-thumbnail d-lg-block d-md-block d-none" data-toggle="modal" data-target=".modal3" style="border-radius:50%; width:200px; height:200px;;"
      src="{{ asset(picture_upload_path ~ (animal.picture3 ?: 'default-picture.png')) }}">

    <div class="modal fade modal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <img style="max-width:100%" src="{{ asset(picture_upload_path ~ (animal.picture3 ?: 'default-picture.png')) }}">
          <button type="button" class="closeModal btn btn-link" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    {% endif %}

  </div>

  <div class="card mt-4 mb-4 mr-auto ml-auto col-11 p-0  ">
    <div class="card-header bg-dark">
      <h3 class="text-white">{{ animal.title }}</h3>


    </div>
    <div class="card-body">
      <p>{% if animal.sex %}Sexe : {{ animal.sex }} {% endif %} {% if animal.age %} /  Age : {{ animal.age }} an(s)
        {% endif %}</p>
      <p>Détails : {{ animal.detail }}</p>
      <h3>&Agrave; propos {% if animal.name %}de {{ animal.name }}{% endif %} :</h3>
      <p>{{ animal.body|nl2br }}</p>

    </div>
  </div>

  <div class="row col-lg-12 col-md-12 col-sm-2 m-auto justify-content-center ">
    {% if app.user == animal.user %}
    <a class="m-2 btn btn-secondary text-white mt-2" role="button" href="{{ path('animal_list_index') }}">Retour à vos
      animaux</a>
    <a class="m-2  btn btn-secondary text-white mt-2" role="button" href="{{ path('animal_edit', {'id': animal.id}) }}">Editer</a>
    <a class="m-2 btn btn-secondary text-white mt-2" role="button" href="{{ path('animal_delete', {'id': animal.id}) }}">Supprimer</a>
    {% endif %}
    <a class="m-2 btn btn-secondary text-white mt-2" role="button" href="{{ path('home_page') }}">Retour</a>
  </div>
</div>

{% endblock %}