{% extends 'base.html.twig' %}

{% block title %} KeepPetCool - Accueil {% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="navigation">
        {{ knp_pagination_render(presentations) }}
    </div>

    <div class="dropdown show container mb-2 mt-2">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Tri
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{{ path('home_page') }}">Tout</a>
            <a class="dropdown-item" role="button" href="{{ path('home_page', {'filter': 'petsitter'}) }}">A
                la recherche d'un petsitter</a>
            <a class="dropdown-item" role="button" href="{{ path('home_page', {'filter': 'owner'}) }}">A
                la recherche d'un propriétaire</a>
            <a class="dropdown-item" role="button" href="{{ path('animal_global_list') }}">Les
                Animaux</a>
        </div>
    </div>

    <!-- <div class="row col-lg-12 col-sm-4 d-flex justify-content-center" id="filterSearch">

        <a class="m-2 btn btn-secondary text-white mt-2" role="button" href="{{ path('home_page') }}">Tout</a>
        <a class="m-2 btn btn-secondary text-white mt-2" role="button" href="{{ path('home_page', {'filter': 'petsitter'}) }}">A
            la recherche d'un petsitter</a>
        <a class="m-2 btn btn-secondary text-white mt-2" role="button" href="{{ path('home_page', {'filter': 'owner'}) }}">A
            la recherche d'un propriétaire</a>
        <a class="m-2 btn btn-secondary text-white mt-2" role="button" href="{{ path('animal_global_list') }}">Les
            Animaux</a>


    </div> -->


    {% for presentation in presentations %}


    {{ include('presentation/_card.html.twig') }}

    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(presentations) }}
    </div>

</div>

{% endblock %}