{% extends 'base.html.twig' %}

{% block title %} KeepPetCool - Accueil {% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="navigation">
        {{ knp_pagination_render(presentations) }}
    </div>

    <div class="d-flex justify-content-center" id="filterSearch">

            <a class="m-2 btn btn-secondary text-white mt-2" role="button" href="{{ path('home_page') }}">Tout</a>
            <a class="m-2 btn btn-secondary text-white mt-2" role="button" href="{{ path('home_page', {'filter': 'petsitter'}) }}">A la recherche d'un petsitter</a>
            <a class="m-2 btn btn-secondary text-white mt-2" role="button" href="{{ path('home_page', {'filter': 'owner'}) }}">A la recherche d'un propriétaire</a>

     
        </div>
{% for presentation in presentations %}


{{ include('presentation/_card.html.twig') }}

{% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(presentations) }}
    </div>

</div>

{% endblock %}