{% extends 'base.html.twig' %}

{% block title %} KeepPetCool - Bienvenue {% endblock %}

{% block body %}

<div class="p-3" id="fisrtPartHome">
    <div>
        <h2 class="text-center d-inline m-auto">KeepPetCool</h2>
        <h4>Trouvez un petsitter près de chez vous <i class="far fa-grin-wink"></i></h4>
    </div>
    <div>
        <img class="w-50" src="{{ asset('images/kisspng-labrador-retriever-golden-retriever-chesapeake-bay-dogs-5abb169fb945b8.3474731415222104637589.png') }}" alt="chien chat petsitting">
    </div>
</div>

<div id="secondPartHome">
    <div>
        <h4>
            Vous êtes à la recherche d'une personne pour garder votre animal de compagnie en votre absence ?<br>
            <span style="font-weight: bold;">Trouvez un petsitter de confiance près de chez vous !</span>
        </h4>
        <h4>
            Vous êtes petsitter professionnel ou disponible pour garder occasionnellement un animal ?<br>
            Et surtout vous adorez les animaux ?<br>
            <span style="font-weight: bold;">Trouvez un propriétaire d'animal de compagnie près de chez vous pour lui proposer vos services.</span>
        </h4>
        <p><a href="{{ path('home_page') }}" class="linkHome">Accès au site KeepPetCool</a><br>
        <a href="{{ path('signup') }}" class="linkHome">Inscrivez-vous</a></p>
    </div>
    <img id="petsittingPicture" src="{{ asset('images/home/petsitter.png') }}" alt="chien chat petsitting">
</div>

<div id="thirdPartHome">
    <section class="features" id="features">
        <div class="container">
            <div class="section-heading text-center">
                <h2>Un service 100% gratuit !!!</h2>
                <p class="text-muted">Et qui le restera !</p>
                <hr>
            </div>
            <div class="row">
                <div class="col-lg-4 my-auto">
                    <div class="device-container">
                        <div class="">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
<img src="{{ asset('images/logotitre.png') }}" class="img-fluid" alt="">                              </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 my-auto">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Propriétaire d'un animal de compagnie ?</h3>
                                    <p class="text-muted">Inscrivez-vous et découvrez tous les petsitters incrits sur notre site !</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    
                                    <h3>Petsitter ?</h3>
                                    <p class="text-muted">Trouvez sur notre site des personnes à la recherche d'un petsitter pour garder leurs animaux !</p>
                                </div>
                            </div>                         
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Présentez-vous (Propriétaire)</h3>
                                    <p class="text-muted">Créez votre fiche de présentation pour expliquer vos attentes concernant les services attendus de la part d'un petsitter !</p>
                                </div>
                            </div>  
                                                    
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Présentez-vous (Petsitter)</h3>
                                    <p class="text-muted">Présentez vos services et les animaux que vous proposez de garder ! Il n'y a pas que les chiens et chats qui comptent ;-)</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Présentez votre animal de compagnie</h3>
                                    <p class="text-muted">Présentez votre animal de compagnie ! Votre fiche animal sera aussi présente sur votre fiche de présentation !</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Facile d'utilisation</h3>
                                    <p class="text-muted">Créez simplement votre fiche de présentation en tant que petsitter ou personne à la recherche d'un petsitter directement de puis votre page de profil.</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    
    <div id="fourthPartHome">

        <h5>Rejoignez-nous sur les réseaux sociaux </h5>
        <div id="socialGallery">
            <a href="#"><img style="width:40px;" src="{{ asset('images/home/icons/facebook.png') }}" alt="facebook" title="Rejoignez-nous sur Facebook"></a>
            <a href="#"><img style="width:40px;" src="{{ asset('images/home/icons/twitter.png') }}" alt="twitter" title="Rejoignez-nous sur Twitter"></a>
            <a href="#"> <img style="width:40px;" src="{{ asset('images/home/icons/instagram.png') }}" alt="instagram" title="Rejoignez-nous sur Instagram"></a>
            <a href="#"><img style="width:40px;" src="{{ asset('images/home/icons/youtube.png') }}" alt="youtube" title="Rejoignez-nous sur Youtube"></a>
        </div>
    
    </div>

{% endblock %}