{% extends 'base.html.twig' %}

{% block title %}Liste des espèces{% endblock %}

{% block body %}
    <h1>Liste des espèces</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for species in species %}
            <tr>
                <td>{{ species.id }}</td>
                <td>{{ species.name }}</td>
                <td>
                    <a href="{{ path('species_edit', {'id': species.id}) }}">Editer</a>
                    <a href="{{ path('species_delete', {'id': species.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('species_new') }}">Nouvelle Espèce</a>
{% endblock %}
