{% extends 'base.html.twig' %}

{% block title %}Conversation{% endblock %}

{% block body %}
<div class="container">

<h2 class="text-center">Conversation {{ user1.username }} / {{ user2.username }}</h2>

<a class="btn btn-dark" href="{{ path('messenging') }}" class="text-white" role="button">Retour messagerie</a>

<div class="card mt-4 mb-4 mr-auto ml-auto ">
  <div class="card-header bg-dark">
      <h3 class="text-white">Nouveau message</h3>
  </div>
    <div class="card-body">
<form action="{{ path('message_new') }}" method="POST" >
  <div class="form-group">
  <label for="userFrom" class="mb-0">De : {{ app.user.username }}</label>
  <input type="hidden" value="{{ app.user.id }}" name="userFrom" id="userFrom">
  </div>
  <div class="form-group">
  <label for="userTo" class="mb-0">A : 
{# DEBUT Traitement pour déterminer le user du destinataire #}
{% if app.user.id == user1.id %}
{{ user2.username }}
{% else %}
{{ user1.username }}
{% endif %}
{# FIN Traitement pour déterminer le user du destinataire #}
  </label>
  <input type="hidden" value="
{# DEBUT Traitement pour déterminer le user du destinataire #}
{% if app.user.id == user1.id %}
{{ user2.id }}
{% else %}
{{ user1.id }}
{% endif %}
{# FIN Traitement pour déterminer le user du destinataire #}
" name="userTo" id="userTo">
</div>
      <div class="form-group">
        <label for="messageObject">Objet de votre message</label>
        <input type="text" class="form-control" id="messageObject" name="messageObject" value="RE: ">
      </div>
      <div class="form-group">
        <label for="messageBody">Votre message</label>
        <textarea class="form-control" id="messageBody" name="messageBody" rows="5"></textarea>
      </div>
      <button class="btn btn-primary" type="submit">Envoyer</button>
</form>
</div>
</div>

{% for message in messages %}
<div class="card" >
  <div class="card-body">
    <h5 class="card-title">De : {{ message.userFrom.username }}</h5>
    <h5 class="card-title">A : {{ message.userTo.username }}</h5>
    <h5 class="card-title"><span style="font-weight: bold;">Objet :</span> {{ message.object }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Le {{ message.createdAt|date("d/m/Y \\à H:i:s") }}</h6>
    <p class="card-text">{{ message.body|nl2br }}</p>
  </div>
</div>
{% endfor %}
<p style="width: 50%; margin: auto;" class="my-2"><a href="{{ path('messenging') }}">Retour messagerie</a></p>
</div>
{% endblock %}
