{% extends 'base.html.twig' %}

{% block title %}Conversation{% endblock %}

{% block body %}

<div style="width: 50%; margin: auto;">
<h2>Conversation {{ user1.username }} / {{ user2.username }}</h2>
<p><a href="{{ path('messenging') }}">Retour messagerie</a></p>
<h3>Nouveau message</h3>
</div>

<form action="{{ path('message_new') }}" method="POST" style="width: 50%; margin: auto; margin-bottom: 1rem;">
  <div class="form-group">
  <label for="userFrom" class="mb-0">De : {{ app.user.username }}</label>
  <input type="hidden" value="{{ app.user.id }}" name="userFrom" id="userFrom">
  </div>
  <div class="form-group">
  <label for="userTo" class="mb-0">A : 
{# DEBUT Traitement pour déterminer le user du destinataire #}
{% if app.user.id == user1.id %}
{{ user2.username }}
{% else %}
{{ user1.username }}
{% endif %}
{# FIN Traitement pour déterminer le user du destinataire #}
  </label>
  <input type="hidden" value="
{# DEBUT Traitement pour déterminer le user du destinataire #}
{% if app.user.id == user1.id %}
{{ user2.id }}
{% else %}
{{ user1.id }}
{% endif %}
{# FIN Traitement pour déterminer le user du destinataire #}
" name="userTo" id="userTo">
</div>
      <div class="form-group">
        <label for="messageObject">Objet de votre message</label>
        <input type="text" class="form-control" id="messageObject" name="messageObject" value="RE: ">
      </div>
      <div class="form-group">
        <label for="messageBody">Votre message</label>
        <textarea class="form-control" id="messageBody" name="messageBody" rows="5"></textarea>
      </div>
      <button class="btn btn-primary" type="submit">Envoyer</button>
</form>

{% for message in messages %}
<div class="card" style="width: 50%; margin: auto;">
  <div class="card-body">
    <h5 class="card-title">De : {{ message.userFrom.username }}</h5>
    <h5 class="card-title">A : {{ message.userTo.username }}</h5>
    <h5 class="card-title"><span style="font-weight: bold;">Objet :</span> {{ message.object }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Le {{ message.createdAt|date("d/m/Y \\à H:i:s") }}</h6>
    <p class="card-text">{{ message.body|nl2br }}</p>
  </div>
</div>
{% endfor %}

{% endblock %}
