<p style="color: red;">Tous les champs marqués d'une étoile (*) sont obligatoires.</p>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {# {{ form_widget(form) }} #}
    {{ form_row(form.username) }}
    {{ form_row(form.password) }}
    {{ form_row(form.email) }}
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    {{ form_row(form.type) }}
    {% endif %}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.avatar) }}
    {{ form_row(form.address) }}
    {{ form_row(form.zipCode) }}
    {{ form_row(form.city) }}
    {{ form_row(form.phoneNumber) }}
    {{ form_row(form.cellNumber) }}

    <button class="btn bg-dark text-white">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
