{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center">Tableau de bord</h2>
    <div class="row">
        <div class="col-2 m-auto mr-auto ml-auto">
            <div>
                <img class="mr-3 mt-3 float-left" src="{{ asset(avatar_upload_path ~ (user.avatar ?: 'default-avatar.png')) }}"
                    style="width: 100px; height:150px;">
            </div>
            <div>
                <button class="btn btn-sm btn-danger"><a class="text-white" href="{{ path('avatar_delete', {'id': user.id}) }}"><i
                            class="text-white fas fa-times" style="color: red;"></i></a></button>
            </div>
        </div>
        <div class="col-10">
            <table class="table my-3" style="width: 70%; margin: auto;">

                <tbody>
                    {# <tr>
                        <th scope="row" colspan="2" style="text-align: center;"><img src="{{ asset(avatar_upload_path ~ (user.avatar ?: 'default-avatar.png')) }}"
                                style="width: 100px; height:150px;"><a href="{{ path('avatar_delete', {'id': user.id}) }}"><i
                                    class="fas fa-times" style="color: red;"></i></a></th>
                    </tr> #}
                    <tr>
                        <th scope="row">Identifiant</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Prénom</th>
                        <td>{{ user.firstname }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nom</th>
                        <td>{{ user.lastname }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Rôle / Type</th>
                        <td>{{ user.role.name }} / {{ user.type }}</td>
                    </tr>
                </tbody>
            </table>

            <button class="btn btn-secondary"><a class="text-white" href="{{ path('home_page') }}">Aller à l'accueil</a></button>
            <button class="btn btn-secondary"><a class="text-white" href="{{ path('profile_edit', {'id': user.id}) }}">Editer
                    mon profil</a></button>
            <button class="btn btn-secondary"><a class="text-white" href="{{ path('presentation_new') }}">Créer/Editer
                    ma fiche de
                    présentation</a></button> 
            <button class="btn btn-secondary"><a class="text-white" href="{{ path('messenging') }}">Messagerie</a></button>
        </div>
    </div>
    {# Liste des commentaires à valider
    uniquement si le user est de type "petsitter" #}
    {% if app.user.type == 'petsitter' %}
    <table class="table my-3" style="width: 70%; margin: auto;">
        <thead class="thead-secondary">
            <tr>
                <th class="table-secondary" scope="col" colspan="3">Commentaires à valider</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
            <tr>
                <td>Commentaire laissé par {{ comment.owner.username }} ({{ comment.owner.firstname }} {{
                    comment.owner.lastname }})</td>
                <td>le {{ comment.createdAt|date("d/m/Y") }}</td>
                <td>
                    <a href="{{ path('comment_validate', {'id': comment.id}) }}"><i class="fas fa-thumbs-up"></i>
                        Accepter<br></a>
                    <a href="{{ path('comment_not_validate', {'id': comment.id}) }}"><i class="fas fa-thumbs-down"></i>
                        Refuser</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">Aucun commentaire à valider</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {# si utilisateur connecté ET ayant un rôle de modo ou admin
        (admin englobe modo) #}
    {% if is_granted('ROLE_MODO') %}

    <div class="m-3">
        <h3 style="color: #6C757D; font-weight: bold;">Menu de modération du site</h3>
        <ul class="list-group">
            <a class="text-decoration-none text-dark " href="{{ path('comment_disable_list') }}">
                <li class="list-group-item" aria-disabled="true">Liste des commentaires bloqués</li>
            </a>
            <a class="text-decoration-none text-dark " href="{{ path('presentation_disable_list') }}">
                <li class="list-group-item" aria-disabled="true">Liste des présentations bloquées</li>
            </a>
        </ul>
    </div>

    {% endif %}

    {# si utilisateur connecté ET ayant un rôle d'admin #}
    {% if is_granted('IS_AUTHENTICATED_FULLY') and (app.user.role.code == 'ROLE_ADMIN') %}

    <div class="m-3">
        <h3 style="color: #6C757D; font-weight: bold;">Menu d'administration du site</h3>
        <ul class="list-group">
            <a class="text-decoration-none text-dark " href="{{ path('status') }}">
                <li class="list-group-item" aria-disabled="true">Gestion des rôles utilisateurs</li>
            </a>
            <a class="text-decoration-none text-dark " href="{{ path('species_index') }}">
                <li class="list-group-item" aria-disabled="true">Gestion des espèces animales</li>
            </a>
            <a class="text-decoration-none text-dark " href="{{ path('service_index') }}">
                <li class="list-group-item">Gestion des prestations de services</li>
            </a>
        </ul>
    </div>

    {% endif %}
</div>
{% endblock %}