{% extends 'base.html.twig' %}

{% block title %}Tableau de bord - {{ user.username }}{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center">Tableau de bord</h2>


    <div class="col-12 p-0">
            <div class="accordion" id="accordionExample">
                 <div class="card">
                     <div class="card-header" id="headingOne">
                         <h4 class="mb-0 text-center">
                         <button class="m-2 btn btn-secondary text-white mt-2" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                 <span style="color: rgb(255, 166, 0); font-weight: bold;"></span> Fonctionnement du site
                         </button>
                         </h4>
                     </div>
         
                     <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                         <div class="card-body">
                             Vous venez de créer votre compte ?<br>
                             <span style="font-weight: bold;">Quelles sont les prochaines étapes ?</span><br>
                             <span style="font-weight: bold; color: #6C757D;">1-</span> Que vous soyez petsitter ou à la recherche d'une garde pour votre animal de compagnie, créez votre fiche de présentation <a href="{{ path('presentation_new') }}">(Créer/Editer ma fiche de présentation)</a> pour vous faire connaître auprès de la communauté KeepPetCool.<br>
                             <span style="font-weight: bold; color:red;">Important :</span> Créer une fiche de présentation vous permet d'être contacté par les autres membres de la communauté KeepPetCool via notre <span style="font-weight: bold;">messagerie interne.</span> :-)<br>
                             <span style="font-weight: bold; color: #6C757D;">2-</span> Vous voulez présenter vos animaux à la communauté KeepPetCool ? Vous pouvez créer une fiche animal <a href="{{ path('animal_list_index') }}">(Mes animaux)</a> pour chacun de vos compagnons, les décrire et ajouter des photos qui les mettent en valeur. Vos fiches animal seront présentes sur votre fiche de présentation. ;-)
                         </div>
                     </div>
                 </div>
             </div>
         </div>



    
    <div class="row">
        <div class="col-lg-2 col-md-3 col-6 m-auto mr-auto ml-auto">
            <div>
                <img class="ml-3 mt-3 float-left" src="{{ asset(avatar_upload_path ~ (user.avatar ?: 'default-avatar.png')) }}"
                    style="width: 100px; height:150px;">
            </div>
            <div>
                <a class="btn btn-sm btn-danger text-white" role="button" href="{{ path('avatar_delete',{'id': user.id})}}"> <i class="text-white fas fa-times" style="color: red;"></i></a>
            </div>
            
        </div>
        <div class="col-10">
            <table class="table my-3">

                <tbody>
                    <tr>
                        <th scope="row">Identifiant</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Prénom</th>
                        <td>{{ user.firstname }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nom</th>
                        <td>{{ user.lastname }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Adresse</th>
                        <td>{{ user.address }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Ville (CP)</th>
                        <td>{{ user.city }} ({{ user.zipCode }})</td>
                    </tr>
                    <tr>
                        <th scope="row">Téléphones</th>
                        <td>Fixe : {{ user.phoneNumber }} / Mobile : {{ user.cellNumber }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Rôle / Type</th>
                        <td>{{ user.role.name }} / {{ user.type }}</td>
                    </tr>
                </tbody>
            </table>

           </div>
    </div>

    <div class="row col-lg-12 col-md-12 col-sm-2 m-auto justify-content-center">
        <a class="m-2 btn btn-secondary text-white mt-2" role="button" href="{{ path('home_page') }}">Aller à l'accueil</a>
        <a class="m-2 btn btn-secondary text-white mt-2" role="button" href="{{ path('profile_edit', {'id': user.id}) }}" >Editer mon profil</a>
        <a class="m-2 btn btn-secondary text-white mt-2"  role="button" href="{{ path('presentation_new') }}">Créer/Editer ma fiche de présentation</a>
        {% if presentation %}
        <a class="m-2 btn btn-secondary text-white mt-2" role="button" href="{{ path('presentation_show' , {'id': presentation.id, 'slug': presentation.slug }) }}">Ma présentation</a>
        {% endif %}
        <a class="m-2 btn btn-secondary text-white mt-2" role="button" href="{{ path('animal_list_index') }}">Mes animaux</a>
        <a class="m-2 btn btn-secondary text-white mt-2" role="button" href="{{ path('messenging') }}">Messagerie</a>
    </div>
    {# Liste des commentaires à valider
    uniquement si le user est de type "petsitter" #}
    {% if app.user.type == 'petsitter' %}
    <table class="table my-3" style="width: 70%; margin: auto;">
        <thead class="thead-secondary">
            <tr>
                <th class="table-secondary" scope="col" colspan="3">Commentaires à valider</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
            <tr>
                <td>Commentaire laissé par {{ comment.owner.username }} ({{ comment.owner.firstname }} {{
                    comment.owner.lastname }})</td>
                <td>le {{ comment.createdAt|date("d/m/Y") }}</td>
                <td>
                    <a href="{{ path('comment_validate', {'id': comment.id}) }}"><i class="fas fa-thumbs-up"></i>
                        Accepter<br></a>
                    <a href="{{ path('comment_not_validate', {'id': comment.id}) }}"><i class="fas fa-thumbs-down"></i>
                        Refuser</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">Aucun commentaire à valider</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {# si utilisateur connecté ET ayant un rôle de modo ou admin
        (admin englobe modo) #}
    {% if is_granted('ROLE_MODO') %}

    <div class="m-3">
        <h3 style="color: #6C757D; font-weight: bold;">Menu de modération du site</h3>
        <ul class="list-group">
            <a class="text-decoration-none text-dark " href="{{ path('comment_disable_list') }}">
                <li class="list-group-item" aria-disabled="true">Liste des commentaires bloqués</li>
            </a>
            <a class="text-decoration-none text-dark " href="{{ path('presentation_disable_list') }}">
                <li class="list-group-item" aria-disabled="true">Liste des présentations bloquées</li>
            </a>
            <a class="text-decoration-none text-dark " href="{{ path('animal_disable_list') }}">
                <li class="list-group-item" aria-disabled="true">Liste des fiches animal bloquées</li>
            </a>
        </ul>
    </div>

    {% endif %}

    {# si utilisateur connecté ET ayant un rôle d'admin #}
    {% if is_granted('IS_AUTHENTICATED_FULLY') and (app.user.role.code == 'ROLE_ADMIN') %}

    <div class="m-3">
        <h3 style="color: #6C757D; font-weight: bold;">Menu d'administration du site</h3>
        <ul class="list-group">
            <a class="text-decoration-none text-dark " href="{{ path('status') }}">
                <li class="list-group-item" aria-disabled="true">Gestion des rôles utilisateurs</li>
            </a>
            <a class="text-decoration-none text-dark " href="{{ path('species_index') }}">
                <li class="list-group-item" aria-disabled="true">Gestion des espèces animales</li>
            </a>
            <a class="text-decoration-none text-dark " href="{{ path('service_index') }}">
                <li class="list-group-item">Gestion des prestations de services</li>
            </a>
        </ul>
    </div>

    {% endif %}
</div>
{% endblock %}